.required.ng-invalid {
    border: 1px solid rgb(255, 0, 0)
  }
  
  .invalid.ng-invalid.ng-dirty {
    border: 1px solid rgb(255, 0, 0)
  }
  
  .pad-left-right{
    padding-left:.1em;
  }
  
  .deleteButton {
    margin-top: 1.5em;
    margin-left: -1.2em;
    width: 3.4rem;
  }
  
  .buttonDiv {
    margin-top: 1.5em;
  }
  
  .groupDiv {
    min-height: 6rem;
    border: 1px solid rgb(211,211,211);
  }
  
  .dragMsg {
    font-size: 2rem;
    border: 1px solid rgb(105,105,105);
    margin-left: erem;
  }